.parent{
    /* width: 30%; */
    left: 50%;
    top: 30%;
    width: 40%;
    text-align: center;
    transform: translate(-50%);
    animation: error 20s ease-in both;
    padding: 20px;
    position: absolute;
    background-color: #f5f6fa;
    border-radius: 6px;
    border: 0.1px solid grey;
    z-index: 10;
    font-size: 32px;
    animation: popup 0.5s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@keyframes popup {
    from { opacity: 0; }
    to   { opacity: 1; }

}

  
@media only screen and (max-width: 360px) {
    .parent {
        width: 80%;
    }
}
